body {
    margin: 0;
    padding: 0;
    background-image: url(/pexels-olia-danilevich-5466789%202.jpg);
    background-position-x: 0px;
    background-position-y: 90px;
    background-size: cover;
    background-color: #ded0d0;

}

h1, h2, h3, p {
    background-color: #ded0d0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 3rem;
}

.modal__correct h2 {
    color: #06915e;
}

.modal__incorrect h2 {
    color: rgb(200, 59, 20)
}

#ansForCorrect, #ansForIncorrect {
    font-weight: 500;
    font-size: 1.5rem;
    width: 600px;
}

h3 {
    margin-bottom: 30px;
}

.company__text {
    font-size: 1.95rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #1b1423;
    background-position: center;
    color: #fff;
    padding: 30px;
    height: 70px;
}

header h1 {
    font-size: 45px;
    background-color: #1b1423;
    margin-top: 10px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ded0d0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#game {
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
}

#question {
    font-family: 'Antonio';
    font-size: 20px;
    margin: 20px 0;
}

#options {
    margin: 20px 0;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
    border-radius: 20px;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    text-align: center;
    height: 190px;
    width: 190px;
    margin: 20px;
    
}
   
/* .button:hover {
    
} */


#lower {
    background-color: rgb(180, 81, 81);
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 8px 0 0 #6b1c1c,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
}

#lower:hover {
    top: 8px;
    filter: brightness(0.95);
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0      #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);
}

#higher {
    background-color: rgb(106, 106, 219);
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 8px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
}

#higher:hover {
    top: 8px;
    filter: brightness(0.95);
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0      #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);
}

/* button {
    color: #ebe5e5;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
} */

#marketCap {
    font-size: 16px;
    margin-top: 20px;
}

#score {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

#lose-screen {
    text-align: center;
    display: none;
    margin-top: 20px;
    
}

footer {
    background-color: #5485a6;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button#playAgain {
    background-color: #b08dd693;
}

.modal__correct, .modal__incorrect, .modal__start {
    position: fixed;
    width: 840px;
    height: 440px;
    background-color: #ded0d0;
    top: 150px;
    left: calc(50% - 420px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-color: #8dadd646;
    
}


.modal__content {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 28px;
    width: 200 px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .next {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-color: #04AA6D;
    border-radius: 12px;
    color: green;
  }
  .next:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .next:hover {
    background-color: #04AA6D;
    color: white;
  }
/* BUTTONS */
  /* Blue */
  .restart {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-color: rgb(200, 59, 20);
    border-radius: 12px;
    color: rgb(200, 59, 20);
  }
  .restart:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .restart:hover {
    background: rgb(200, 59, 20);
    color: white;
  }
  
  /* Orange */
  .start {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    border-color: #ff9800;
    border-radius: 12px;
    color: orange;
  }

  .start:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .start:hover {
    background: #ff9800;
    color: white;
  }

@media (max-width: 600px) {
    main {
        padding: 10px;
        
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }
}