body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #607c8e;
    color: #fff;
    text-align: center;
    padding: 20px;
    height: 43px;
}

header h1 {
    font-size: 32px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#game {
    text-align: center;
}

#question {
    font-size: 20px;
    margin: 20px 0;
}

#options {
    margin: 20px 0;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-image: -webkit-linear-gradient(283deg, rgba(255, 255, 255, 0.1) 50%, transparent 55%),-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), transparent);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 8px 0 0 #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
    color: white !important;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    text-align: center;
    height: 190px;
    width: 190px;
    margin: 20px;
}
   
.button:hover {
    top: 8px;
    filter: brightness(0.95);
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 0 0 0      #333797,0 0 0 1px rgba(0, 0, 0, 0.4),0 0px 8px 1px rgba(0, 0, 0, 0.5);
}


#lower {
    background-color: rgb(180, 81, 81);
}

#higher {
    background-color: rgb(106, 106, 219);
}

/* button {
    color: #ebe5e5;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
} */

#marketCap {
    font-size: 16px;
    margin-top: 20px;
}

#score {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

#lose-screen {
    text-align: center;
    display: none;
    margin-top: 20px;
}

footer {
    background-color: #5485a6;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button#playAgain {
    background-color: #b08dd693;
}

.modal__correct, .modal__incorrect, .modal__start {
    position: fixed;
    width: 840px;
    height: 450px;
    background: white;
    top: 85px;
    left: calc(50% - 420px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.modal__content {
    text-align: center;
}

.hidden {
    display: none;
}



@media (max-width: 600px) {
    main {
        padding: 10px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }
}